/* Reset some default styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    border-radius: 30px;
    padding: 20px;
    color: #ccc;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1),
               -10px -10px 30px rgba(255,255,255,0.7);
}

.sidebar-top, .sidebar-bottom {
    text-align: center;
}

.profile-section {
    padding-bottom: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h2 {
    margin: 10px 0 5px;
    color: #fff;
    font-size: 20px;
}

.sidebar p {
    color: #666;
    font-size: 14px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 15px;
    color: #333;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

.sidebar-nav li.active,
.sidebar-nav li:hover {
    font-weight: bold;
}

.sidebar-nav li i {
    margin-right: 10px;
}

.logout {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    transition: background 0.3s, box-shadow 0.3s;
}

.logout:hover {
    background: #FFE0E0;
    box-shadow: inset 5px 5px 15px rgba(0,0,0,0.15),
                inset -5px -5px 15px rgba(255,255,255,0.7);
}


.main-content {
    flex: 1;
    padding: 20px;
}

.dashboard-header {
    display: flex;
    align-items: flex-start; /* Align items vertically */
    justify-content: flex-start; /* Separates the h1 and icon */
    padding: 10px; /* Adjust padding as needed */
    flex-direction: column;
}

.dashboard-header h1 {
    margin: 0; /* Adjust margin as needed */
    flex-grow: 1; /* Allows the h1 to take up available space pushing the icons to the right */
    font-size: 40px;
    letter-spacing: 1.5px; /* Adjust the value as needed */
    font-family:'Times New Roman', Times, serif;
}

.header-icons > img {
   width: 5%;
   height: 5%;
   margin-right: 10px; 
}

.statistics-cards {
    display: flex;
    justify-content: space-around; /* Adjusts the space around items */
    flex-wrap: wrap; /* Allows items to wrap on small screens */
    padding: 10px; /* Adds some padding inside the container */
}

.card {
    width: 40%; /* Sets the width of cards to 40% of their parent container */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; /* Adds some space at the bottom of each card */
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Keeps the text color consistent with the rest of the card */
    cursor: pointer;
}

.card span {
    color: #333;
    font-size: 1em; /* Adjust the size as needed */
}

.card h3 {
    margin-top: 0.5em; /* Adjust the top margin as needed */
    color: #333;
    font-size: 2em; /* Adjust the size as needed */
}


.activity-chart {
    margin-bottom: 20px;
}

.chart-placeholder {
    background: #e0e5ec;
    border-radius: 10px;
    padding: 20px;
    height: 200px; /* Adjust as necessary */
    margin-bottom: 20px;
}

.top-performers ul {
    list-style-type: none;
    padding: 0;
}

.top-performers li {
    background: #e0e5ec;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.channels .channel-card {
    width: 95%;
    background: #e0e5ec;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel-card{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        order: 2;
    }

    .main-content {
        order: 1;
    }
}

@media screen and (max-width: 480px) {
    .dashboard-header h1 {
        font-size: 20px;
    }
    
    .statistics-cards .card,
    .top-performers li,
    .channels .channel-card {
        padding: 15px;
    }
}

.smallContainer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col4 img{
    width: 100%;
}

.row{
    margin-top: 70px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This ensures the buttons stick to the bottom */
    height: 100%; /* Adjust height as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box; /* This includes padding in the element's total width and height */
    background: #f1f1f1;
}

.product img {
    max-width: 100%;
    height: auto;
}

.button-group {
    margin-top: auto; /* Pushes the button group to the bottom */
    display: flex;
    justify-content: center; /* Aligns buttons in the center */
    gap: 10px; /* Spacing between buttons */
}

.btn-approve {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-reject {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
