*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    border-radius: 30px;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1),
        -10px -10px 30px rgba(255, 255, 255, 0.7);
}

.sidebar-top,
.sidebar-bottom {
    text-align: center;
}

.profile-section {
    padding-bottom: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h2 {
    margin: 10px 0 5px;
    color: #fff;
    font-size: 20px;
}

.sidebar p {
    color: #666;
    font-size: 14px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 15px;
    color: #333;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

.sidebar-nav li.active,
.sidebar-nav li:hover {
    font-weight: bold;
}

.sidebar-nav li i {
    margin-right: 10px;
}

.logout {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    transition: background 0.3s, box-shadow 0.3s;
}

.logout:hover {
    background: #FFE0E0;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15),
        inset -5px -5px 15px rgba(255, 255, 255, 0.7);
}

.main-content {
    flex: 1;
    padding: 20px;
}

.dashboard-header {
    display: flex;
    align-items: center;
    /* Align items vertically */
    justify-content: space-between;
    /* Separates the h1 and icon */
    padding: 10px;
    /* Adjust padding as needed */
}

.dashboard-header h1 {
    margin: 0;
    /* Adjust margin as needed */
    flex-grow: 1;
    /* Allows the h1 to take up available space pushing the icons to the right */
    font-size: 40px;
    letter-spacing: 1.5px;
    /* Adjust the value as needed */
    font-family: 'Times New Roman', Times, serif;
}

.table-container {
    font-family: Arial, sans-serif;
    width: 100%;
    background: #F5F5F5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.table-header, .table-row {
    display: flex;
    align-items: center;
}

.header-item, .row-item {
    padding: 10px;
    text-align: center;
    flex: 1; /* Distribute space evenly */
}

.table-header {
    background-color: #fcff41;
    font-weight: bold;
}

.table-row {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    height: 100px;
}

.table-row:last-child {
    border-bottom: 0;
}

.row-item img {
    width: 50px; /* Adjust size as needed */
    height: auto;
}

.row-item input {
    width: 20px;
}

.checkmark {
    color: #4CAF50; /* Adjust color as needed */
}

button {
    padding: 5px 10px;
    width: 70px;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF; /* Adjust color as needed */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darken button on hover */
}

.btn-danger{
    background-color: #fa0000d1;
}